.activeContainer{
    padding: 1rem;
}

.callButton{
    border: none;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    outline: none;
    background-color:rgb(5, 170, 5);
    color: #fff;
    border-radius: 0.3rem;
}